React environment setting <br><br>

-- for environemnt set up -- <br><br>
1. install node -> for live-production, control web pack, use yarn <br><br>

--install yarn -- <br><br>
npm install -g yarn <br><br>
yarn --version - show version <br><br>

-- setting live server --<br><br>
1.create folder structr - project->sub-project-folder <br><br>
2.create public folder and then inside index.html file <br><br>
3.install live-server -> yarn global add live-server <br><br>
4. if it give error then use npm install -g live-server <br><br>
5.check version - live-server -v <br><br>
6. run live server specific folder -> live-server folder name<br><br>


-- pick CDN --
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script><br><br>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script><br><br>
<script src="scrtips/app.js"></script><br><br>

1.create scripts folder then create app.js where we wil write all javascript code <br><br>
--install babel ---<br><br>
1. install babel itself create for es6 and es7 environment and react preset<br><br>
2. it must be install to main project sub folder <br><br>
3. install babel -> yarn-global add babel-cli@6.24.1 <br><br>
4. if it give error then <br><br>
5. npm install -g babel-cli@6.24.1<br><br>

-- react and env -- presets install <br><br>
1. it shouled be install locally means inside project folder <br><br>
2. before install react  and env preset we need intialize yarn through yarn init<br><br>
3. so jokhon yarn init dibo tokhon kichu question korbe <br><br>
	a. name, version,  description, repository url, author, licence 	<br><br>
4. it will create package.json file<br><br>
5. install local dependencies means react and env preset instalation<br><br>  
6. install presets -> yarn add babel-preset-react@6.24.1 babel-preset-env@1.5.2  <br><br>
7. now amra akta src folder create korbo sekhane app.js namer file create korbo sekhane amra amader jsx likhbo <br><br>
8. ata access korar cmd hocche -> babel src/"React Component"/nesting_component.js --out-file=public/scripts/app.js --presets=env,react --watch<br><br>
9. re install all of the dependencies -> yarn install <br><br>






