1. React e kivabe manual Data binding korte hoy 

code..

let count = 0;
const addOne = () => {
    count++;
    console.log('addOne',count);
};

const minusOne = () => {
    console.log('minus One');
}
const reset = () => {
    console.log('reset')
}
const template = (
    <div>
        <h1>Count: {count}</h1>
        <button onClick={addOne}>+1</button>
        <button onClick={minusOne}>-1</button>
        <button onClick={reset}>Reset</button>
    </div>
)

const appRoot = document.getElementById('app');
ReactDOM.render(template, appRoot);

//jsx ar object guli print korbe
console.log(template)

akhane amra adOne funcion e count increment korechi and console.loge print kore korechi .. jeta.. console.log data bind korbe means proti click e se 1, 2 , 3 dekhabe. but browser e dekhabe nah. karon jsx ar kono built in data binding nei.amra count 0 dieche and jsx template e count refer korechi. so every time count change hoitese but screen e render kortese nah. ar karon holo jokhon browser e kono kichu render kore tokhon sbar age jsx expression call hoy. ar render tokhon hoy jokhon render function amra call kore. so ai jaigai je ghotona ta ghottese seta holo. jsx jokhon call hoy tokhon sb data static thake. tarmane jsx ar joto guli data ache count and event attribute sb guli  static obostai ache jokhon code run hoy ajonno jokhon amra button click kortese tokhon se screen e render kortese nah. to ajonno amader event attribute and static variable ke dynamic korar jonno amader ke re-render korte hobe. jate button e click korle data screen e render hoy. 


jokhon ist time code run hoy tokhon jsx run hoy so screen e render korar jonno amader ai jsx e arekbar run korate hobe and render function keo arekbar run korate hobe.

atar korar jonno .. 

code..
let count = 0;
const addOne = () => {
    count++;
    console.log('addOne',count);
    renderCounterApp()
};

const minusOne = () => {
    console.log('minus One');
}
const reset = () => {
    console.log('reset')
}




const appRoot = document.getElementById('app');
const renderCounterApp = () => {
    const template = (
        <div>
            <h1>Count: {count}</h1>
            <button onClick={addOne}>+1</button>
            <button onClick={minusOne}>-1</button>
            <button onClick={reset}>Reset</button>
        </div>
    )
    ReactDOM.render(template, appRoot);
}

renderCounterApp()

amra akta function nieche renderCounterApp name atar vitore jsx and ReactDom call define korechi then ai function take call korechi and add one function ar vitoreo call korechi 

akhane renderCounterApp function ar vitore je code guli amra likheche segula jeta korche seta holo .. tara over and over again run hoitese and regenerate kortese and DOM ar moddhe re-render kortese 



