amra kivabe input and form handle korte hoy seta sikhbo 

1. amra akta input nibo sekhane kichu value dibo and setake array amader object ar vitore je options ache seta te add korbo. 

-----kichu --- tips 

    * react ar documentation onek event handler ache segula documentation theke dekhe nea
    
    * from submit korar somoy jate default feature na kaj kore 


code 
..........
const app = {
    title: 'Indecision App',
    subtitle: 'Put Your life in teh hands of a computer',
    options: ['One','Two']
}

const onFormSubmit = (e) => {
    e.preventDefault();
}

const template = (
    <div>
        <h1>{app.title}</h1>
        {app.subtitle && <p>{app.subtitle}</p>}
        <p>{app.options.length>0 ? 'Here are your options' : 'No options'}</p>
        <ol>
           <li>Item one</li>
           <li>Item two</li>
        </ol>

        <form onSubmit={onFormSubmit}>
            <input type="text" name="option"/>
            <button >Add Option</button>
        </form>
    </div>
);

const appRoot = document.getElementById('app')
ReactDOM.render(template,appRoot);

upore amra jsx ar vitore akta form tag nieche jekhane onFormSubmit name akta function ke refer korechi jeta kina form ar default behaviour protect korbe. amra akhane onSubmit event tag e.. function ke refer korechi kintu call koreni jodi amra call kore thle seta undefine return korbe reason hocche function jokhon call kora hoy tokhon ar akta return value thakte hoy.


2. e.target form element ke target korar jonno 
   
const app = {
    title: 'Indecision App',
    subtitle: 'Put Your life in teh hands of a computer',
    options: ['One','Two']
}

const onFormSubmit = (e) => {
    e.preventDefault();
   
    const option = e.target.elements.options;

    
}

const template = (
    <div>
        <h1>{app.title}</h1>
        {app.subtitle && <p>{app.subtitle}</p>}
        <p>{app.options.length>0 ? 'Here are your options' : 'No options'}</p>
        <ol>
           <li>Item one</li>
           <li>Item two</li>
        </ol>

        <form onSubmit={onFormSubmit}>
            <input type="text" name="option"/>
            <button >Add Option</button>
        </form>
    </div>
);

const appRoot = document.getElementById('app')
ReactDOM.render(template,appRoot);  

upore amra onFormSubmit e.target.elements.options likhese jetar mane hocce

   * e dara event object bojhay, form element ar jonno jodi kichu behavour access korte chai, thle seta event object ar thorugh te kora jay 

   * target elements gula, input ar je name attribute ache setara dara indexed hoy. akhan index hoy mane setar uniquely signed hoy je. element ta kon input ar  



