1. array kivabe kaj kore jsx e 

   const template = (
        <div>
            <h1>{app.title}</h1>
            {app.subtitle && <p>{app.subtitle}</p>}
            <p>{app.options.length>0 ? 'Here are your options' : 'No options'}</p>           
            <button onClick = {RemoveAll}>Remove Option</button>   
              {
                  [99,98,97]
              }  
            <form onSubmit={onFormSubmit}>
                <input type="text" name="option"/>
                <button >Add Option</button>               
            </form>
        </div>
    );

akta jsx expression atar vitore amra akta array niech e99 98 and 97 .. ata screen e render korbe. jokhon kono array define kora hoy tokhon protita array element ke object e convert kore nei

jodi avabe array declare kora hoy 
{
 [99,98,97]
} 

thle 
{99}, {98}, {97} avabe convert kore nei and then screen e render kore 

2. jsx ar vitore jsx render kora jay.. and array ar vitoreo jsx render kora jay. tar mane amra jsx ar je kono object array ar vitore define korte parbo

{
    [<p key="1">a</p>, <p key="2">b</p>, <p key="3">c</p>]
}  

ata scren e render korbe a b  c

3. now amra akta araay nibo 

const numbers = [55,101,1000]

uporer array ke amra jsx e convert korbo 

{
    [<p key="1">a</p>, <p key="2">b</p>, <p key="3">c</p>]
} 

ata korar jonno amader nicher code follow korte hobe

const app = {
    title: 'Indecision App',
    subtitle: 'Put Your life in teh hands of a computer',
    options: []
}

const onFormSubmit = (e) => {
    e.preventDefault();
    
    const option = e.target.elements.option.value;

    if(option){
        app.options.push(option);
        e.target.elements.option.value = ''; 
        reReander();
    }
};

const RemoveAll = () => {
    app.options = [];
     reReander();
}
const numbers = [55,101,1000];
const appRoot = document.getElementById('app')
function reReander(){
    const template = (
        <div>
            <h1>{app.title}</h1>
            {app.subtitle && <p>{app.subtitle}</p>} 
            <p>{app.options.length>0 ? 'Here are your options' : 'No options'}</p>           
            <button onClick = {RemoveAll}>Remove Option</button>   
              {
                  numbers.map((number, index)=>{
                      index = index + 1; 
                      return <p key={index}>Number: {number}</p>
                  })
              }  
            <form onSubmit={onFormSubmit}>
                <input type="text" name="option"/>
                <button >Add Option</button>               
            </form>
        </div>
    );
    ReactDOM.render(template,appRoot); 
}
reReander();
 

