event and attribute bojhar jonno. amra akta examle korbo amra akta interface toire korbo jekhane akta heading thakbe count 0 akta + button and - button increment and decrement ar jonno and akta reset button 

1. so itnerface toire korar jonno amader jsx define korte hob

code 
const template = (
    <div>
        <h1>Count: 0</h1>
    </div>
)

const appRoot = document.getElementById('app');
ReactDOM.render(template, appRoot);

amra jsx create korechi then amader root path define korechin and screen render korechi ReactDOM dara 

2. nicher code e amra attribute define korechi

let count = 0;
const template = (
    <div>
        <h1>Count: {count}</h1>
        <button id="my-id" class="button">+1</button>
        <button>-1</button>
        <button>Reset</button>
    </div>
)

const appRoot = document.getElementById('app');
ReactDOM.render(template, appRoot);

jsx ar akta important lesson holo kichu attribute html ar jeta setai kaj kore abr kichu kichu attribute vinno hoy jemon class attribute jsx e kaj korbe nah. karon ata predefine/reserved key word ajonnon. html clss je attribute ata jsx e className hisebe use kora hoy. nicher code valid

code
let count = 0;
const template = (
    <div>
        <h1>Count: {count}</h1>
        <button id="my-id" className="button">+1</button>
        <button>-1</button>
        <button>Reset</button>
    </div>
)

const appRoot = document.getElementById('app');
ReactDOM.render(template, appRoot);
............................................

3. amra id attribute ar vitore javascript expression dite pari

let count = 0;
const someId = 'myId'
const template = (
    <div>
        <h1>Count: {count}</h1>
        <button id={someId} className="button">+1</button>
        <button>-1</button>
        <button>Reset</button>
    </div>
)

const appRoot = document.getElementById('app');
ReactDOM.render(template, appRoot);

uporer code amra const someId nieche sekhane value myId rekhese and button ar id attribute javascript expression ar thorugh the amra someId call korechi
.................................

4. now amra attribute event define korbo. jekhane dekhbo kivabe event fire korte hoy

let count = 0;

const addOne = () => {
    console.log('addOne');
};

const template = (
    <div>
        <h1>Count: {count}</h1>
        <button onClick={addOne}>+1</button>
        <button>-1</button>
        <button>Reset</button>
    </div>
)

const appRoot = document.getElementById('app');
ReactDOM.render(template, appRoot);

uporere code amra onClick event define korechi button e and and addOne arrow function define korechi. then amra addOne refer korechi onClick ar vitore. jeta mean kore je jokhon ai button e click hobe tokhone addOne function e call krbe.. amra kintu onClick ar vitore addOne call korini refer korechi. call krle sathe sathei funciton call hoye jabe event fire krar agei
.............................................

5. amra onClick ar event attribute ar moddheo arrow function define korte pari

let count = 0;
const template = (
    <div>
        <h1>Count: {count}</h1>
        <button onClick={()=>{
            console.log("Some value here")
        }}>+1</button>
        <button>-1</button>
        <button>Reset</button>
    </div>
)

const appRoot = document.getElementById('app');
ReactDOM.render(template, appRoot);

uporere code amra js expression ar vitore arrow function define korechi





